* {
    box-sizing: border-box;
  }
  
body {
    text-align:center;
    margin: 0;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
     "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#title {
    font-size: 22px;
    margin-bottom: 30px;
}
#title h1{
    display: inline;
    font-weight: lighter;
}

#title h1 {
    position: relative;
    padding-left: 25px;
  }
  
#title h1:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
}

#title h1:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(119, 195, 223);
}

#calender-header {
    height: 35px;
    margin-bottom: 10px;
}

.btn {
    height: 100%;
    width: 35px;
    display: inline-block;
    vertical-align: bottom;
}

.btn img {
    padding-top: 3px;
    height: 90%;
    width: 90%;
}

.active {
    height: 100%;
    width: 100%;
}

.btn img:active {
    height: 100%;
    width: 100%;
}



#text {
    height: 100%;
    display: inline-block;
    font-size: 30px;
    font-weight: lighter;
    margin: 0 5px 0;
}

#calender {
    display: inline-block;
}

.date {
    vertical-align: top;
    width: 100px;
    height: 70px;
}

.legend {
    height: 30px; 
}

.content-wrapper {
    height: 100%;
    width: 100%;
}

.upper-part {
    height: 25px;
    vertical-align: top;
    text-align: left;
    
}

.lower-part {
    height: 40px;
    text-align: center;
}

.day-number {
    height: 100%;
    float: left;
    margin: 0 0 0 2px;
}

.day-text {
    float: right;
    font-size: 1px;
    margin: 3px 0 0 0;
}

.weekday {
    color: black;
    background-color: rgba(230, 226, 230, 0.4);
}

.saturday {
    color: blue;
    background-color: rgba(40, 40, 255, 0.15);
}

.sunday, .holiday{
    color: red; 
    background-color: rgba(255, 40, 40, 0.15);
}

#modal {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100px;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 7px;
}

#modal:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
  
#modal p {
margin: 0;
padding: 0;
}

#modal img {
    height: 35px;
    width: 35px;
    margin: 10px 3px 0px;
}

.lower-part img {
    height: 35px;
    width: 35px;
    margin: 0;
    vertical-align: center;
    text-align: center;
}