* {
    box-sizing: border-box;
  }
  
body {
    text-align:center;
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.btn {
    display: inline-block;
}

.text {
    display: inline-block;
}

#calender {
    display: inline-block;
}

td {
    vertical-align: top;
    width: 100px;
    height: 60px;
}

.legend {
    height: 30px;
}

.upper-part {
    height: 25px;
    vertical-align: top;
    text-align: left;
    
}

.day-number {
    margin-left: 2px;
    display: inline;
}

.sunday {
    color: red; 
    background-color: rgba(255, 40, 40, 0.15);
}

.saturday {
    color: blue;
    background-color: rgba(40, 40, 255, 0.15);
}

.weekday {
    color: black;
    background-color: rgba(230, 226, 230, 0.4);
}

